<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- manipulator -->
  <include file="$(find advance_robotics_assignment)/launch/single.launch">
    <arg name="headless" value="true" />
    <arg name="gui" value="false" />
    <arg name="world" value="$(find advance_robotics_assignment)/worlds/assignment1_fk.world" />
  </include>

  <!-- rviz configuration -->
  <arg name="rvizconfig" default="$(find advance_robotics_assignment)/config/assignment1_fk.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
